## Importing Training Dataset

In [1]:
import pandas as pd

# importing training dataset
X_train = pd.read_csv("../dataset files/training/madelon_train.data", 
                      header=None, index_col=None, delimiter=' ')
X_train = X_train.drop(columns=[500])

X_train.info()
X_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Columns: 500 entries, 0 to 499
dtypes: int64(500)
memory usage: 7.6 MB

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,485,477,537,479,452,471,491,476,475,473,...,477,481,477,485,511,485,481,479,475,496
1,483,458,460,487,587,475,526,479,485,469,...,463,478,487,338,513,486,483,492,510,517
2,487,542,499,468,448,471,442,478,480,477,...,487,481,492,650,506,501,480,489,499,498
3,480,491,510,485,495,472,417,474,502,476,...,491,480,474,572,454,469,475,482,494,461
4,484,502,528,489,466,481,402,478,487,468,...,488,479,452,435,486,508,481,504,495,511

In [2]:
# describe for training dataset
X_train.describe()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,481.722500,483.452500,510.166000,483.384500,501.612500,479.259000,480.109500,476.565000,486.793500,478.78900,...,482.458500,478.811500,486.356500,496.565500,493.49950,510.893000,478.219500,483.309000,507.977000,490.266000
std,6.421769,30.186294,38.899165,9.059895,41.389418,6.795956,40.575925,1.384461,15.043836,7.19092,...,20.890033,4.011735,23.967366,127.635442,34.81902,37.459353,5.880613,13.559847,37.224297,25.825273
min,462.000000,381.000000,370.000000,453.000000,371.000000,459.000000,334.000000,471.000000,430.000000,455.00000,...,407.000000,463.000000,391.000000,130.000000,368.00000,398.000000,457.000000,435.000000,363.000000,403.000000
25%,477.000000,464.000000,485.000000,477.000000,475.000000,475.000000,452.750000,476.000000,477.000000,474.00000,...,468.000000,476.000000,471.000000,404.000000,470.00000,486.000000,474.000000,474.000000,482.000000,473.000000
50%,482.000000,483.000000,510.500000,483.000000,500.000000,479.000000,480.000000,477.000000,487.000000,479.00000,...,482.000000,479.000000,486.000000,504.000000,492.00000,511.000000,478.000000,483.000000,508.000000,490.000000
75%,486.000000,503.000000,536.000000,490.000000,528.000000,484.000000,506.250000,477.000000,496.250000,484.00000,...,496.000000,481.000000,502.000000,586.000000,517.00000,535.000000,482.000000,492.000000,533.000000,507.250000
max,503.000000,600.000000,654.000000,519.000000,688.000000,505.000000,611.000000,481.000000,536.000000,503.00000,...,549.000000,497.000000,566.000000,920.000000,615.00000,661.000000,500.000000,535.000000,644.000000,583.000000

## Normalizing dataset

Since this is a sintetic dataset, there's no harm in normalizing the data for every single pipeline. (no real loss of information over non-normalized data.)

In [3]:
# normalizing training dataframe
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
X_train_scaled = pd.DataFrame(
    min_max_scaler.fit_transform(X_train), 
        index=X_train.index, 
        columns=X_train.columns
    )

X_train_scaled

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.560976,0.438356,0.588028,0.393939,0.255521,0.260870,0.566787,0.5,0.424528,0.375000,...,0.492958,0.529412,0.491429,0.449367,0.578947,0.330798,0.558140,0.44,0.398577,0.516667
1,0.512195,0.351598,0.316901,0.515152,0.681388,0.347826,0.693141,0.8,0.518868,0.291667,...,0.394366,0.441176,0.548571,0.263291,0.587045,0.334601,0.604651,0.57,0.523132,0.633333
2,0.609756,0.735160,0.454225,0.227273,0.242902,0.260870,0.389892,0.7,0.471698,0.458333,...,0.563380,0.529412,0.577143,0.658228,0.558704,0.391635,0.534884,0.54,0.483986,0.527778
3,0.439024,0.502283,0.492958,0.484848,0.391167,0.282609,0.299639,0.3,0.679245,0.437500,...,0.591549,0.500000,0.474286,0.559494,0.348178,0.269962,0.418605,0.47,0.466192,0.322222
4,0.536585,0.552511,0.556338,0.545455,0.299685,0.478261,0.245487,0.7,0.537736,0.270833,...,0.570423,0.470588,0.348571,0.386076,0.477733,0.418251,0.558140,0.69,0.469751,0.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.682927,0.566210,0.468310,0.318182,0.290221,0.043478,0.667870,0.5,0.830189,0.250000,...,0.422535,0.470588,0.331429,0.579747,0.530364,0.410646,0.418605,0.28,0.512456,0.544444
1996,0.439024,0.429224,0.373239,0.409091,0.391167,0.500000,0.653430,0.8,0.471698,0.604167,...,0.401408,0.323529,0.468571,0.372152,0.348178,0.653992,0.441860,0.58,0.362989,0.455556
1997,0.439024,0.621005,0.919014,0.257576,0.359621,0.326087,0.725632,0.5,0.594340,0.229167,...,0.661972,0.588235,0.502857,0.705063,0.485830,0.342205,0.604651,0.65,0.569395,0.433333
1998,0.536585,0.456621,0.475352,0.378788,0.539432,0.391304,0.664260,0.6,0.754717,0.354167,...,0.563380,0.588235,0.771429,0.784810,0.477733,0.498099,0.627907,0.38,0.583630,0.455556
1999,0.292683,0.511416,0.348592,0.500000,0.473186,0.347826,0.577617,0.8,0.481132,0.375000,...,0.422535,0.382353,0.668571,0.403797,0.384615,0.513308,0.558140,0.54,0.544484,0.627778

## Exporting dataset values

In [4]:
X_train_scaled.to_csv(path_or_buf="../dataset files/training/post_eda_train.csv")